---
layout: page
title: Raster Foundry
permalink: /
seoDescription: Using new technologies and the explosion of available data and imagery to extract actionable information
---
<!-- home
================================================== -->
<section id="hero" class="s-hero target-section">

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>
    <div class="fullscreen-bg">
        <video class="fullscreen-bg__element" src="/uploads/rf-homepage-view.mp4" autoplay loop muted
            poster="/uploads/rf-homepage-video-placeholder.jpg"></video>
    </div>

    <div class="hero-content">

        <div class="row hero-content__main">

            <h3>{{ site.data.home.hero-title }}</h3>

            <h1>
                {{ site.data.home.hero-body }}
            </h1>

            <div class="hero-content__form">
                <div class="subscribe-form">
                    <form id="mc-form-footer" class="group mc-form" novalidate="true">
                        <input type="email" value="" name="EMAIL" class="email" id="mc-email"
                            placeholder="Email Address" required="">
                        <input type="submit" name="subscribe" value="Request a demo">
                        <label for="mc-email" class="subscribe-message"></label>
                    </form>
                </div>
            </div>

        </div>

        <div class="hero-content__line"></div>

    </div> <!-- end hero-content -->


    <ul class="hero-social">
        {% for item in site.data.social_media.platform %}
        <li>
            <a href="{{ item.link }}" title="{{ item.name }}"><i class="{{ item.icon }}"
                    aria-hidden="true"></i><span>{{ item.name }}</span></a>
        </li>
        {% endfor%}
    </ul>
    <!-- end hero-social -->

</section> <!-- end s-hero -->


<!-- clients
================================================== -->
<section id="clients" class="s-clients">

    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">{{ site.data.home.clients-subtitle }}</h3>
            <h1 class="display-2">{{ site.data.home.clients-title }}</h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row clients-outer" data-aos="fade-up">
        <div class="col-full">
            <div class="clients">
                {% for item in site.data.home.clients %}
                <div class="clients__slide">
                    <img src="{{ item.client-logo }}" alt="{{ item.client-name }}" />
                </div>
                {% endfor %}
            </div> <!-- end clients -->
        </div> <!-- end col-full -->
    </div> <!-- end clients-outer -->

    <div class="row clients-testimonials" data-aos="fade-up">
        <div class="col-full">
            <div class="testimonials">
                {% for item in site.data.home.testimonials %}
                <div class="testimonials__slide">

                    <p>{{ item.testimonial }}</p>

                    <img src="{{ item.testimonial-image }}" alt="{{ item.testimonial-name }}"
                        class="testimonials__avatar">
                    <div class="testimonials__info">
                        <span class="testimonials__name">{{ item.testimonial-name }}</span>
                        <span class="testimonials__pos">{{ item.testimonial-position }}</span>
                    </div>

                </div>
                {% endfor %}
            </div><!-- end testimonials -->

        </div> <!-- end col-full -->
    </div> <!-- end client-testimonials -->

</section> <!-- end s-clients -->


<!-- works
================================================== -->
<section id='works' class="s-works">

    <div class="intro-wrap">

        <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">{{ site.data.home.industries-subtitle }}</h3>
                <h1 class="display-2 display-2--light">{{ site.data.home.industries-title }}</h1>
            </div>
        </div> <!-- end section-header -->

    </div> <!-- end intro-wrap -->

    <div class="row works-content">
        <div class="col-full masonry-wraps">
            <div class="masonry">
                {% for item in site.data.home.industries %}
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            {% if item.industry-link %}
                            <a href="{{ site.baseurl }}{{item.industry-link}}" class="thumb-link"
                                title="{{item.industry-title}}" data-size="1050x700">
                                <img src="{{item.industry-image}}" alt="{{item.industry-image-alt}}">
                            </a>
                            {% else %}
                            <img src="{{item.industry-image}}" alt="{{item.industry-image-alt}}">
                            {% endif %}
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                {{item.industry-title}}
                            </h3>
                            {% if item.industry-link %}
                            <span class="item-folio__more">Learn more <i class="far fa-arrow-right"></i></span>
                            {% endif %}
                        </div>
                        {% if item.industry-link %}
                        <a href="{{ site.baseurl }}{{item.industry-link}}" class="item-folio__project-link"
                            title="Project link">
                            <i class="far fa-link"></i>
                        </a>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
            </div> <!-- end masonry -->
        </div> <!-- end col-full -->
    </div> <!-- end works-content -->

</section> <!-- end s-works -->



<!-- services
================================================== -->
<section id='services' class="s-services">

    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">{{ site.data.home.capabilities-subtitle }}</h3>
            <h1 class="display-2">{{ site.data.home.capabilities-title }}</h1>
        </div>
    </div> <!-- end section-header -->

    {% for item in site.data.home.capabilities %}
    <div class="row services-list {% cycle 'odd', 'even' %}">

        <div class="service-item service-item__copy" data-aos="fade-up">
            <div class="service-icon">
                <i class="{{ item.capability-icon }}"></i>
            </div>
            <div class="service-text">
                <h3 class="h2">{{ item.capability-title }}</h3>
                <p>{{ item.capability-statement }}</p>
            </div>
        </div>

        <div class="service-item service-item__image" data-aos="fade-up">
            <img src="{{ item.capability-image }}" alt="Interface example of {{ item.capability-title }}" />
        </div>

    </div>
    {% endfor %}

</section> <!-- end s-services -->

{% include preloader.html %}