<!-- contact
================================================== -->
<section id="contact" class="s-contact">

    <div class="overlay"></div>
    <div class="contact__line"></div>

    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">{{ site.data.footer.footer-subtitle }}</h3>
            <h1 class="display-2 display-2--light">{{ site.data.footer.footer-title }}</h1>
        </div>
    </div>

    <div class="row contact-content" data-aos="fade-up">

        <div class="contact-secondary">
            <div class="subscribe-form">
                <form id="mc-form" class="group mc-form" novalidate="true">
                    <label for="mce-EMAIL" class="sr-only">Enter your email</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address"
                        required="">
                    <input type="submit" name="subscribe" value="Request a demo">
                    <label for="mce-EMAIL" class="subscribe-message"></label>
                </form>
            </div>
            <div class="contact-info">

                {% for item in site.data.footer.footer-info-columns %}
                <div class="cinfo">
                    <h5>{{ item.info-title }}</h5>
                    <p>{{ item.info-content }}</p>
                </div>
                {% endfor%}

                <ul class="contact-social">
                    {% for item in site.data.social_media.platform %}
                    <li>
                        <a href="{{ item.link }}" title="{{ item.name }}"><i class="{{ item.icon }}"
                                aria-hidden="true"></i></a>
                    </li>
                    {% endfor%}
                </ul> <!-- end contact-social -->

            </div> <!-- end contact-info -->
            <p class="footer-content">{{ site.data.footer.footer-grants }}</p>
        </div> <!-- end contact-secondary -->

    </div> <!-- end contact-content -->

</section> <!-- end s-contact -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/plugins.js"></script>
<script src="{{ site.baseurl }}/assets/js/bundle.js"></script>