<!-- contact
================================================== -->
<section id="contact" class="s-contact">

    <div class="overlay"></div>
    <div class="contact__line"></div>

    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">{{ site.data.footer.footer-subtitle }}</h3>
            <h1 class="display-2 display-2--light">{{ site.data.footer.footer-title }}</h1>
        </div>
    </div>

    <div class="row contact-content" data-aos="fade-up">

        <div class="contact-secondary">
            <div class="subscribe-form">
                <form id="mc-form" class="group mc-form" novalidate="true">
                    <label for="mce-EMAIL" class="sr-only">Enter your email</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address"
                        required="">
                    <input type="submit" name="subscribe" value="Request a demo">
                    <label for="mce-EMAIL" class="subscribe-message"></label>
                </form>
            </div>
            <div class="contact-info">

                <div class="cinfo">
                    <img class="footer-logo" src="{{ site.baseurl }}/uploads/azavea_white_solo.svg" alt="Azavea Logo">
                    <p>{{ site.data.footer.location }}</p>
                    <p>{{ site.data.footer.contact-link }}</p>
                </div>

                <div class="cinfo">
                    <h5>{{ site.data.footer.company-title }}</h5>
                    <ul>
                        {% for item in site.data.footer.company-links %}
                        <li>
                            {{item.link}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="cinfo">
                    <h5>{{ site.data.footer.services-title }}</h5>
                    <ul>
                        {% for item in site.data.footer.services-links %}
                        <li>
                            {{item.link}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <ul class="contact-social">
                    {% for item in site.data.social_media.platform %}
                    <li>
                        <a href="{{ item.link }}" title="{{ item.name }}"><i class="{{ item.icon }}"
                                aria-hidden="true"></i></a>
                    </li>
                    {% endfor%}
                </ul> <!-- end contact-social -->

            </div>
            <p class="footer-content">
                Raster Foundry is a product of Azavea. © {{ 'now' | date: "%Y" }} Azavea. All rights reserved.
                <br>
                <a href="https://www.azavea.com/terms-of-use/">Terms of use</a> |
                <a href="https://www.azavea.com/privacy-policy/">Privacy policy</a>
                <br>
                Components of the Raster Foundry project have been developed with support from
                NASA (NNX16CS04C) and The US Dept. of Energy (DE-SC0013134).
            </p>
        </div> <!-- end contact-secondary -->

    </div> <!-- end contact-content -->

</section> <!-- end s-contact -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/plugins.js"></script>
<script src="{{ site.baseurl }}/assets/js/bundle.js"></script>
<script>
    window.intercomSettings = {
        app_id: "txwuxlol"
    };
</script>
<script>(function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/txwuxlol'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();</script>