<!-- {% for item in site.data.menu.top %}
  {% if page.permalink == item.path %}
    <li class="active"><a href="{{ site.baseurl }}{{item.path}}" class="active">{{item.text}}</a></li>
  {% else %}
  <li><a href="{{ site.baseurl }}{{item.path}}">{{item.text}}</a></li>
  {% endif %}
{% endfor %} -->


<!-- header
================================================== -->
<header class="s-header" id="top">

  <div class="header-logo">
    <a class="site-logo" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/rasterfoundry-logo.svg" alt="Raster Foundry">
    </a>
  </div>

</header> <!-- end s-header -->